
::-webkit-scrollbar {
  width: 15px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
}

::-moz-scrollbar {
  width: 15px;
  background: transparent;
}

::-moz-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  
}

::-moz-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
}

body {
  scrollbar-base-color: rgba(255,255,255,0.5);
  scrollbar-face-color: rgba(255,255,255,0.5);
  scrollbar-3dlight-color: transparent;
  scrollbar-highlight-color: rgba(255,255,255,0.5);
  scrollbar-track-color: rgba(255, 255, 255, 0.1);
  scrollbar-arrow-color: transparent;
  scrollbar-shadow-color: transparent;
  scrollbar-dark-shadow-color: transparent;
}
